.default-single-text-shadow {
  text-shadow: 0px 0px 1px #aaaaaa; }

.none {
  text-shadow: none; }

.color-only {
  text-shadow: 0px 0px 1px #ccc; }

.default-text-shadow {
  text-shadow: 0px 0px 1px #aaaaaa; }

.multiple-text-shadows-with-default {
  text-shadow: 0px 0px 1px #aaaaaa, 2px 2px 5px #222; }

.multiple-text-shadows {
  text-shadow: 4px 4px 10px #444, 2px 2px 5px #222; }
