.single-transition-without-delay {
  transition: all 0.6s ease-out; }

.single-transition-with-delay {
  transition: all 0.6s ease-out 0.2s; }

.transition-duration-integers {
  transition-duration: 0.2s, 0.5s, 0.2s; }

.transition-duration-string {
  transition-duration: "0.2s, 0.5s, 0.2s"; }

.transition-duration-list {
  transition-duration: 0.2s, 0.5s, 0.2s; }

.multiple-transition-durations {
  transition-duration: 0.2s, 0.5s, 0.2s; }

.single-transform-transition-without-delay {
  transition: transform 0.6s ease-out; }

.single-transform-transition-with-delay {
  transition: transform 0.6s ease-out 0.2s; }

.transform-transition {
  transition: transform 0.6s ease-out; }

.multiple-transitions {
  transition: transform 0.6s ease-out, opacity 0.2s ease-in; }

.transition-property {
  transition-property: transform; }

.transition-properties {
  transition-property: transform, opacity, width, height, left, top; }

.multiple-transition-properties {
  transition-property: opacity, transform, left; }

.transition-timing {
  transition-timing-function: ease-in; }

.transition-timings {
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-timings-list {
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-timings-string {
  transition-timing-function: "ease-in, cubic-bezier(1,0,1,0)"; }

.transition-timings-params {
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-delay {
  transition-delay: 1s; }

.transition-delays {
  transition-delay: 1s, 2s, 3s; }

.transition-delays-list {
  transition-delay: 1s, 2s, 3s; }

.transition-delays-string {
  transition-delay: "1s, 2s, 3s"; }

.transition-delays-params {
  transition-delay: 1s, 2s, 3s; }

.regression-912 {
  transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s; }
