.apply-origin-2d {
  transform-origin: 2px 5%; }

.apply-origin-3d {
  transform-origin: 2px 5% 2in; }

.transform-origin-2d {
  transform-origin: 100px 100px; }

.transform-origin-3d {
  transform-origin: 100px 100px 100px; }

.transform-2d {
  transform: rotateY(20deg); }

.transform-3d {
  transform: rotateZ(20deg); }

.perspective {
  perspective: 500; }

.perspective-origin {
  perspective-origin: 25% 25%; }

.transform-style {
  transform-style: preserve-3d; }

.backface-visibility {
  backface-visibility: hidden; }

.scale {
  transform: scale(30px, 50px); }

.scale-3d {
  transform: scale(30px, 50px); }

.scale-with-perspective {
  transform: perspective(500) scale(30px, 50px); }

.scale-3d-with-perspective {
  transform: perspective(500) scale(30px, 50px); }

.scale-x {
  transform: scaleX(30px); }

.scale-x-3d {
  transform: scaleX(30px); }

.scale-x-with-perspective {
  transform: perspective(500) scaleX(30px); }

.scale-x-3d-with-perspective {
  transform: perspective(500) scaleX(30px); }

.scale-y {
  transform: scaleY(50px); }

.scale-y-3d {
  transform: scaleY(50px); }

.scale-y-with-perspective {
  transform: perspective(500) scaleY(50px); }

.scale-y-3d-with-perspective {
  transform: perspective(500) scaleY(50px); }

.scale-z {
  transform: scaleZ(50px); }

.scale-z-with-perspective {
  transform: perspective(500) scaleZ(50px); }

.scale3d {
  transform: scale3d(30px, 50px, 100px); }

.scaled3-with-perspective {
  transform: perspective(500) scale3d(30px, 50px, 100px); }

.rotate {
  transform: perspective(500) rotate(25deg); }

.rotate-with-perspective {
  transform: perspective(500) rotate(25deg); }

.rotate-z {
  transform: rotate(25deg); }

.rotate-z-with-perspective {
  transform: perspective(500) rotate(25deg); }

.rotate-x {
  transform: rotateX(25deg); }

.rotate-x-with-perspective {
  transform: perspective(500) rotateX(25deg); }

.rotate-y {
  transform: rotateY(25deg); }

.rotate-y-with-perspective {
  transform: perspective(500) rotateY(25deg); }

.rotate-3d {
  transform: rotate3d(5, 2, 1, 75deg); }

.rotate-3d-with-perspective {
  transform: perspective(500) rotate3d(5, 2, 1, 75deg); }

.translate {
  transform: translate(20px, 30%); }

.translate-with-perspective {
  transform: perspective(500) translate(20px, 30%); }

.translate-3d {
  transform: translate(20px, 30%); }

.translate-3d-with-perspective {
  transform: perspective(500) translate(20px, 30%); }

.translate-x {
  transform: translateX(30px); }

.translate-x-3d {
  transform: translateX(30px); }

.translate-x-with-perspective {
  transform: perspective(500) translateX(30px); }

.translate-x-3d-with-perspective {
  transform: perspective(500) translateX(30px); }

.translate-y {
  transform: translateY(30px); }

.translate-y-3d {
  transform: translateY(30px); }

.translate-y-with-perspective {
  transform: perspective(500) translateY(30px); }

.translate-y-3d-with-perspective {
  transform: perspective(500) translateY(30px); }

.translate-z {
  transform: translateZ(30px); }

.translate-z-with-perspective {
  transform: perspective(500) translateZ(30px); }

.translate-3d {
  transform: translate3d(30px, 50px, 75px); }

.translate-3d-with-perspective {
  transform: perspective(500) translate3d(30px, 50px, 75px); }

.skew {
  transform: skew(20deg, 50deg); }

.skew-3d {
  transform: skew(20deg, 50deg); }

.skew-x {
  transform: skewX(20deg); }

.skew-x-3d {
  transform: skewX(20deg); }

.skew-y {
  transform: skewY(20deg); }

.skew-y-3d {
  transform: skewY(20deg); }

.create-transform-2d {
  transform: perspective(500) scale(20px, 20px) rotateX(25deg) rotateY(25deg) rotate3d(false 50px) translateX(50px) translateZ(50deg) skew(50deg, 50%);
  transform-origin: 50%; }

.create-transform-3d {
  transform: perspective(500) scale3d(20px, 20px, 20px) rotateX(25deg) rotateY(25deg) rotateZ(25deg) rotate3d(false 50px) translate3d(50px, 50px, 50deg) skew(50deg, 50%);
  transform-origin: 50% 50%; }

.simple-transform {
  transform:  scale(25px, 25px) rotateZ(25deg) translate(10px, 10px) skew(30deg, 30deg);
  transform-origin: 10% 10%; }
